header{
/* 	width: 100%; */

/* 	border: 1px solid black; */
	margin: 20px; /* 오른쪽 마진이 이상해 보이는데, width100%가 있으면 이상해보이는 듯? 왜 그러지?  */
}

header div{
	font-family:  cursive, "Lucida Console", Monaco, monospace;
	font-size: 5em;
	margin: 60px auto;
	width: 450px;
	color: #820007;
	font-weight: bold;
}

nav {
	margin-top: 30px;
}
						
nav div.visible {

	overflow:hidden;
	width: 100%;
	height: 100px;
	position: relative;
	margin: 20px 0px;
}

ul.list{
	width: 200%;

	position:relative;
}

ul li.backboard  {
	left : 0px;
	width: 45%; 
	height: 100px;
	float:left;
	position: relative;
	margin-left: 65px;

}

ul li span {
	font-family: 'Abel', sans-serif, "Lucida Console", Monaco, monospace;
	font-size: 6em;
	letter-spacing: 0.3em;

}


/*
nav div.visible {
	overflow:hidden;
	position:relative;
	left: 25%;
	width: 50%;
	border:1px solid red;
	display: inline-block;
}

nav div.backboard>.visible>div.chain {
	position: relative;
	left: 25%;
	font-family: 'Abel', sans-serif, "Lucida Console", Monaco, monospace;
	font-size: 6em;
	font-weight: 300;
	height: 150px;
	width: 90%;
	border: 1px solid black;
	margin: 10px 20px;
	color: #c3a1a3;
}

div.right{
	left:0px;
}
*/
section article{
	
	height: 700px;
	margin: 70px 20px;
	border: solid black 1px;
	
}
